---
---

// Minimal Variables for Dark Mode
$background-color: #181818;
$text-color: #d0d0d0;
$brand-color: #e0e0e0;
$link-base-color: #3391ff;

@import "minima";

// Ensure Code Blocks are Dark
pre, code {
  background-color: #111 !important;
  color: #eee !important;
}

.highlight {
  background-color: #111 !important;
}